In [1]:
import pandas as pd
import json
import os

In [2]:
abspath=os.path.abspath(" ")
relativepath="data"
os.path.join(abspath,relativepath)

'/Users/kohishaaruganti/Documents/Final/finalCapstone/src/ /data'

#### HateClassification

In [3]:
ToxicClassification="../data/HateClassification/toxic.csv"

In [4]:
Toxicdataset=pd.read_csv(ToxicClassification)
Toxicdataset.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [5]:
Toxicdataset['target'] = Toxicdataset[['toxic', 'severe_toxic', 'obscene','threat','insult','identity_hate']].eq(Toxicdataset[['toxic', 'severe_toxic', 'obscene','threat','insult','identity_hate']].iloc[0], axis=1).all(axis=1)

In [6]:
Toxicdataset.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,target
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0,True
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0,True
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0,True
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0,True
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0,True

In [7]:
Toxicdataset['target']=Toxicdataset['target'].replace({True:'No Hate',False:'Hate'})

In [8]:
Toxicdataset.head(7)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,target
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0,No Hate
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0,No Hate
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0,No Hate
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0,No Hate
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0,No Hate
5,00025465d4725e87,"""\n\nCongratulations from me as well, use the ...",0,0,0,0,0,0,No Hate
6,0002bcb3da6cb337,COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK,1,1,1,0,1,0,Hate

In [9]:
Toxicdataset['target'].value_counts()

No Hate    143346
Hate        16225
Name: target, dtype: int64

#### StormFront

In [10]:
folderpath="../data/Stormfront/all_files/"

In [11]:
file_names = []
file_texts = []
for file_name in os.listdir(folderpath):
    if file_name.endswith('.txt'):
        with open(os.path.join(folderpath, file_name), 'r',encoding="utf8") as file:
            text = file.read()
            filename1=file_name.split('.')[0]
            file_names.append(filename1)
            file_texts.append(text)

In [12]:
stormfront = pd.DataFrame({'Filename': file_names, 'Text': file_texts})

In [13]:
stormfront.head()

     Filename                                               Text
0  13458115_2            It 's like that at most public boards .
1  13367480_1  I wonder if one of the victims opened the door...
2  30422449_1  Some people believe the Jack O ' Lantern also ...
3  14651837_4                                  Ready .... GO !!!
4  30527903_3                                           Thanks !

In [14]:
labelspath="../data/Stormfront/annotations_metadata.csv"
labelsfile=pd.read_csv(labelspath,usecols=['file_id','label'])
labelsfile.head()

      file_id   label
0  12834217_1  noHate
1  12834217_2  noHate
2  12834217_3  noHate
3  12834217_4    hate
4  12834217_5  noHate

In [15]:
finalstormfile=pd.merge(stormfront,labelsfile,left_on='Filename', right_on='file_id',how="inner")

In [16]:
finalstormfile.head()

,Filename,Text,file_id,label
0,13458115_2,It 's like that at most public boards .,13458115_2,noHate
1,13367480_1,I wonder if one of the victims opened the door...,13367480_1,noHate
2,30422449_1,Some people believe the Jack O ' Lantern also ...,30422449_1,noHate
3,14651837_4,Ready .... GO !!!,14651837_4,noHate
4,30527903_3,Thanks !,30527903_3,noHate

#### ToxicSpan

In [17]:
ToxicAnnotations="../data/ToxicSpanData/annotations.csv"
ToxicComments="../data/ToxicSpanData/comments.csv"
ToxicSpans="../data/ToxicSpanData/spans.csv"

In [18]:
Annotationsdf=pd.read_csv(ToxicAnnotations)
Commentsdf=pd.read_csv(ToxicComments)
Spansdf=pd.read_csv(ToxicSpans)

In [19]:
Spansdf.head()

   annotation    type  start  end
0           0  Insult    133  139
1           1  Insult     84   92
2           1  Insult    118  124
3           1  Insult    126  131
4           1  Insult    133  147

In [20]:
Commentsdf.head()

   comment_id                                       comment_text
0      239607  Yet call out all Muslims for the acts of a few...
1      239612  This bitch is nuts. Who would read a book by a...
2      240311                                   You're an idiot.
3      240400  Nincompoop, that's a nice one! I'm partial to ...
4      240461  testing purposes: \n\nyou are an idiot and i c...

In [21]:
Annotationsdf.head(15)

    annotation  comment_id  worker country  all toxic  not toxic
0            0     5167187     868     USA      False      False
1            1     5167187    1316     USA      False      False
2            2     5167187    1295     USA      False       True
3            3     5167187    2856     USA      False      False
4            4     5521110     418     VEN       True       True
5            5     5521110    2076     USA      False      False
6            6     5521110     459     VEN      False      False
7            7     5521110    3109     VEN      False      False
8            8     5124938    2347     VEN      False      False
9            9     5124938    2701     USA      False      False
10          10     5124938    2408     USA      False      False
11          11     5124938    2629     USA      False      False
12          12     5683635    3387     USA      False      False
13          13     5683635    1509     VEN      False      False
14          14     5683635     737     USA      False      False

In [22]:
Commentsdf.loc[Commentsdf['comment_id']==274391]['comment_text']

195    Agreed.\n\nFunny how it is only her supporters...
Name: comment_text, dtype: object

In [23]:
Annotationsdf.loc[Annotationsdf['comment_id']==239607]

       annotation  comment_id  worker country  all toxic  not toxic
38690       38690      239607    2870     USA       True       True
38691       38691      239607    2858     USA      False      False
38692       38692      239607    3365     USA      False      False

In [24]:
annotationcount=Annotationsdf.groupby(['comment_id','not toxic'])['annotation'].count().reset_index(name='count')

In [25]:
annotationcount.head()

   comment_id  not toxic  count
0      239607      False      2
1      239607       True      1
2      239612      False      1
3      239612       True      2
4      240311      False      3

In [26]:
Annotationsdf.groupby(['comment_id','not toxic'])['annotation'].transform('count')

0          3
1          3
2          1
3          3
4          1
        ...
59210    176
59211    176
59212    176
59213    181
59214    181
Name: annotation, Length: 59215, dtype: int64

In [27]:
comment_id_list,target_list=[],[]
for comments in annotationcount['comment_id'].unique():
    eachcomment=annotationcount[annotationcount['comment_id']==comments]
    max_count=max(eachcomment['count'])
    max_comm=eachcomment[eachcomment['count']==max_count]
    #print(max_comm.columns)
    #print(max_comm['not toxic'])
    toxic_values=max_comm['not toxic'].iloc[0]
    commentid=eachcomment['comment_id'].iloc[0]
    if toxic_values:
        comment_id_list.append(commentid)
        target_list.append('Not Toxic')
    else:
        comment_id_list.append(commentid)
        target_list.append('Toxic')

In [28]:
result_df = pd.DataFrame({'comment_id':comment_id_list,'target':target_list})

In [29]:
result_df.head()

   comment_id     target
0      239607      Toxic
1      239612  Not Toxic
2      240311      Toxic
3      240400      Toxic
4      240461      Toxic

In [30]:
result_df['target'].value_counts()

Toxic        11304
Not Toxic     4796
Name: target, dtype: int64

In [31]:
Annotationsdf.dtypes

annotation     int64
comment_id     int64
worker         int64
country       object
all toxic       bool
not toxic       bool
dtype: object

In [32]:
Spansdf.head(15)

    annotation                   type  start  end
0            0                 Insult    133  139
1            1                 Insult     84   92
2            1                 Insult    118  124
3            1                 Insult    126  131
4            1                 Insult    133  147
5            2  Identity based Attack    118  131
6            2                 Insult    133  147
7            3                 Insult     84   92
8            5  Identity based Attack     38   49
9            5                 Insult     10   14
10           6  Identity based Attack     38   49
11           7                 Insult     10   14
12           7  Identity based Attack     38   49
13           8                 Insult     30   36
14           9                 Insult     30   36

In [33]:
toxicspandata=pd.merge(result_df,Commentsdf,on='comment_id',how='inner')

In [34]:
toxicspandata.head()

   comment_id     target                                       comment_text
0      239607      Toxic  Yet call out all Muslims for the acts of a few...
1      239612  Not Toxic  This bitch is nuts. Who would read a book by a...
2      240311      Toxic                                   You're an idiot.
3      240400      Toxic  Nincompoop, that's a nice one! I'm partial to ...
4      240461      Toxic  testing purposes: \n\nyou are an idiot and i c...

#### FoxNews

In [35]:
foxnewsdata,foxnewslabel=[],[]
with open("../data/FoxNews/fox-news-comments.json") as foxnews:
    for line in foxnews:
        linesdict=json.loads(line)
        if linesdict['text'] and linesdict['label'] in [0,1]:         
            foxnewsdata.append(linesdict['text'])
            foxnewslabel.append(linesdict['label'])

In [36]:
print(len(foxnewsdata))
print(len(foxnewslabel))

1528
1528

In [37]:
foxnewsdf=pd.DataFrame({'Text':foxnewsdata,'Label':foxnewslabel})

In [38]:
foxnewsdf.head()

                                                Text  Label
0                          Merkel would never say NO      1
1  Expect more and more women to be asking .. "wh...      1
2  Groping people in public wasn't already illega...      0
3  Merkel, possible the only person in charge who...      1
4  They know very well, no means NO! They need to...      1

## Merged Data

In [39]:
foxnewsdf
Toxicdataset
finalstormfile
toxicspandata

,comment_id,target,comment_text
0,239607,Toxic,Yet call out all Muslims for the acts of a few...
1,239612,Not Toxic,This bitch is nuts. Who would read a book by a...
2,240311,Toxic,You're an idiot.
3,240400,Toxic,"Nincompoop, that's a nice one! I'm partial to ..."
4,240461,Toxic,testing purposes: \n\nyou are an idiot and i c...
...,...,...,...
16095,6333139,Toxic,"Ah, the small minded, short sighted incompeten..."
16096,6333364,Not Toxic,"For some of these demonic possessed brats, a s..."
16097,6333372,Toxic,Butts was stupid enough to lay out the charade...
16098,6333662,Toxic,This dirtbag is no Marine; he's a sadistic ter...
16099,6333841,Not Toxic,Who is the jerk in the last row between the C ...

In [40]:
print(Toxicdataset.columns)
print(foxnewsdf.columns)
print(finalstormfile.columns)
print(toxicspandata.columns)

Index(['id', 'comment_text', 'toxic', 'severe_toxic', 'obscene', 'threat',
       'insult', 'identity_hate', 'target'],
      dtype='object')
Index(['Text', 'Label'], dtype='object')
Index(['Filename', 'Text', 'file_id', 'label'], dtype='object')
Index(['comment_id', 'target', 'comment_text'], dtype='object')

In [41]:
foxnewsdf.rename(columns={'Label':'target'},inplace=True)

In [42]:
foxnewsdf.rename(columns={'Text':'comment_text'},inplace=True)

In [43]:
finalstormfile=finalstormfile.rename(columns={'label':'target','Text':'comment_text'})

In [44]:
print(Toxicdataset.columns)
print(foxnewsdf.columns)
print(finalstormfile.columns)
print(toxicspandata.columns)

Index(['id', 'comment_text', 'toxic', 'severe_toxic', 'obscene', 'threat',
       'insult', 'identity_hate', 'target'],
      dtype='object')
Index(['comment_text', 'target'], dtype='object')
Index(['Filename', 'comment_text', 'file_id', 'target'], dtype='object')
Index(['comment_id', 'target', 'comment_text'], dtype='object')

In [45]:
finaldataset=pd.concat([Toxicdataset[['comment_text','target']],foxnewsdf[['comment_text','target']],finalstormfile[['comment_text','target']],toxicspandata[['comment_text','target']]],ignore_index=True)

In [46]:
finaldataset.head()

                                        comment_text   target
0  Explanation\nWhy the edits made under my usern...  No Hate
1  D'aww! He matches this background colour I'm s...  No Hate
2  Hey man, I'm really not trying to edit war. It...  No Hate
3  "\nMore\nI can't make any real suggestions on ...  No Hate
4  You, sir, are my hero. Any chance you remember...  No Hate

In [47]:
finaldataset['target'].value_counts()

No Hate      143346
Hate          16225
Toxic         11304
noHate         9507
Not Toxic      4796
hate           1196
0              1093
1               435
relation        168
idk/skip         73
Name: target, dtype: int64

In [48]:
replace_dict={'No Hate':'NoHate','Toxic':'Hate','noHate':'NoHate','Not Toxic':'NoHate','hate':'Hate',0:'Hate',1:'NoHate'}
finaldataset['target']=finaldataset['target'].replace(replace_dict)

In [49]:
finaldataset['target'].value_counts()

NoHate      158084
Hate         29818
relation       168
idk/skip        73
Name: target, dtype: int64

In [50]:
value_to_drop='relation'
finaldataset=finaldataset[finaldataset['target']!=value_to_drop]

In [51]:
value_to_drop='idk/skip'
finaldataset=finaldataset[finaldataset['target']!=value_to_drop]

In [52]:
finaldataset['target'].value_counts()

NoHate    158084
Hate       29818
Name: target, dtype: int64

In [53]:
finalfile=finaldataset.to_csv('finaldataset.csv')